.app{
    text-align: center;

}
.header{
    align-items: center;
    text-align: center;
    background-color:rgb(27, 27, 27);
    color : rgb(89, 133, 153);
    padding: 9px;
    display: flex;
    flex: 1;
}
.header >img{
    padding-left: 40%;
    text-align: center;
    visibility: inherit;
    height: 50px;
    width: 50px;
    align-items: center;
    padding-left: auto;
    padding-right: 1rem;
}