.head{
    margin-top: 0;
    text-align: center;
}
.col{
    display: inline-block;
    padding: 2rem;
    align-items: center;
    text-align: center;
}
.pics{
    align-items: center;
    padding-top: 1rem;
    border: 1px solid black;
}

.pics > img{
    display: inline-block;
    padding: 20px;
    width: 200px;
    height: 200px;
    
}


.pics >button{
    border: none;
    text-align: center;
    background-color: rgb(96, 190, 159);
    border-radius: 20px;
}
.pics >button:hover{
    border: none;
    text-align: center;
    background-color: rgb(42, 80, 67);
    
}

